
.page-header{
  /*background-color: #ef3525;*/
  padding-top: 25px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
  background-color: black;

}
.titleContainer{
  padding-bottom: 0px;
}

h1{
  color: white;
  margin-bottom:0;
}
.netflix{
  color: #ef3525;
}
label{
  color:white;
}
.dropdown{
  float:left;
  margin-left: 90px;

}
.dropdown-toggle{
  background-color: #ef3525;
  border-color: #ef3525;
}
.ratingIn{
  cursor: pointer;
  background-color: #ef3525;
  border-color: #ef3525;

}
.btn-primary{
  margin-top: 10px;
  margin-left: 30px;
}
.contentArea{
  margin: 0 20px 0 20px;
}
.contentRow{
  float:left;
  clear:left;
  /*margin:10px 20px 10px 20px;*/
  width: 100%;
  height:auto;
}
.resultContainer{
  height:275px;
}
.background{
  height: 100%;
  width: auto;
}
.playButton{
margin-top:50%;
margin-left: 25%;
position: absolute;
font-size: 100px;
opacity:0.9;
cursor:pointer;

}
.addButton{
margin:0 0 320px 150px;
position: absolute;
font-size:25px;
cursor: pointer;



}

.thumbnails{
  float:left;
}
.play{
  margin-bottom: 90px;
}
/*.container > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}*/
/*.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}*/
/*.titleContainer{
float:left;
}*/
/*.contentArea{
  background-color: black;
  position: relative;
  clear:both;
  /*height: auto;*/
  /*min-height: 100%;*/
  /*height: 900px;*/
/*.btn{
  background-color: black;
  border-color: black;
}*/
/*.inputsContainer{
  /*width:350px;*/
