
.page-header{
  /*background-color: #ef3525;*/
  padding-top: 15px;
  margin-top: 0;

}
.dropdown{
  float:left;
  margin-left: 90px;
}
.btn-primary{
  margin-top: 10px;
  margin-left: 30px;
}
.contentRow{
  float:left;
  clear:left;
}
/*.titleContainer{
float:left;
}*/
/*.contentArea{
  background-color: black;
  position: relative;
  clear:both;
  /*height: auto;*/
  /*min-height: 100%;*/
  /*height: 900px;*/
}*/
/*.btn{
  background-color: black;
  border-color: black;
}*/
/*.inputsContainer{
  /*width:350px;*/
}*/
